@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSans.woff") format('woff');
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBoldOblique.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansOblique.woff") format('woff');
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "FreeSans", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
  cursor: crosshair;
}

body {
  background: #000;
}

nav {
  background-color: #000;
  position: absolute;
  height: fit-content;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav .logo {
  margin-top: 17px;
  padding-left: 24px;
  width: fit-content;
}

nav .logo img {
  height: 26px;
  cursor: pointer;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 17px;
  right: 24px;
}

nav .openMenu img {
  height: 26px;
  cursor: pointer;
  filter: invert();
}

nav .mainMenu {
  height: calc(100vh - 90px);
  margin-top: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s ease;
}

nav .mainMenu li {
  padding-left: 24px;
}

nav .mainMenu li a {
  line-height: 60px;
  text-underline-offset: 3px;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 17px;
  right: 24px;
  cursor: pointer;
}

nav .mainMenu .closeMenu img {
  height: 26px;
  filter: invert();
}

main {
  margin: 0px 24px 0px;
  padding-top: 84px;
  display: block;
}

.row {
  margin-bottom: 36px;
}

.column {
  width: 100%;
  margin-bottom: 18px;
}

h1 {
  font-size: large;
  font-weight: normal;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

h3 {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 60px;
}

pre {
  font-size: 12px;
}

p {
  color: #999;
  font-size: 12px;
  line-height: 1.5;
}

.title {
  color: #000;
  max-width: 100%;
}
.title:hover {
  color: #999;
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: 9px;
  font-style: italic;
}

i {
  color: #999;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  filter: brightness(0.8);
  /* cursor: zoom-in; */
}

footer {
  margin: 36px 0 36px 0;
  text-align: center;
  font-size: 12px;
}

nav a:link {
  text-decoration: none;
  color: #999;
}

nav a:hover {
  color: #fff;
}

nav a:active {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: underline;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

a:visited {
  text-decoration: underline;
  color: #999;
}

@media only screen and (min-width: 796px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .logo {
    padding-left: 48px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    margin-top: 0px;
    padding: 0px 48px 0px 0px;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-block;
  }

  nav .mainMenu li {
    padding-left: 24px;
    display: inline-block;
  }

  nav .mainMenu li a {
    line-height: 60px;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  main {
    margin: 0 48px;
  }

  .column {
    top: 166px;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 0;
  }

  .right {
    padding-left: 12px;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 12px;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 1280px) {
  nav .logo {
    padding-left: 250px;
  }

  nav .mainMenu {
    padding-right: 250px;
  }

  nav .mainMenu li {
    padding-left: 36px;
  }

  main {
    margin: 0 250px;
  }
}

@media only screen and (min-width: 1920px) {
  nav .logo {
    padding-left: 400px;
  }

  nav .mainMenu {
    padding-right: 400px;
  }

  nav .mainMenu li {
    padding-left: 48px;
  }

  main {
    margin: 0 400px;
  }

  .about-column-left {
    width: 70%;
  }

  .about-column-right {
    width: 30%;
  }
}