@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSans.woff") format('woff');
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBoldOblique.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansOblique.woff") format('woff');
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "FreeSans", sans-serif;
  font-size: small;
  scroll-behavior: smooth;
  /* cursor: crosshair; */
}

body {
  background: #000;
}

nav {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav .logo {
  margin-top: 24px;
  padding-left: 24px;
  width: fit-content;
}

nav .logo img {
  height: 40px;
  cursor: pointer;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
}

nav .openMenu img {
  height: 26px;
  cursor: pointer;
  filter: invert();
}

nav .mainMenu {
  height: calc(100vh - 93px);
  margin-top: 24px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s ease;
}

nav .mainMenu li {
  padding-left: 24px;
}

nav .mainMenu li a {
  line-height: 60px;
  text-underline-offset: 3px;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

nav .mainMenu .closeMenu img {
  height: 26px;
  filter: invert();
}

main {
  margin: 112px 24px 0px;
  display: block;
}

.headline {
  padding-bottom: 36px;
}

.row {
  margin: 0px 0 36px 0;
}

.column {
  width: 100%;
  margin-bottom: 18px;
}

.project {
  margin-bottom: 36px;
}

h1 {
  font-size: x-large;
  font-weight: normal;
}

h2 {
  font-size: large;
  font-weight: normal;
}

h3 {
  font-size: medium;
  font-weight: normal;
  text-transform: uppercase;
}

h4 {
  font-size: small;
  font-weight: normal;
  text-transform: uppercase;
}

.accordion {
  box-shadow: 0px 1px 0px #c8c8c8;
}

.contentBox {
  position: relative;
}

.label {
  font-weight: bold;
  /* font-size: x-large; */
  padding: 12px 0px 12px 0px;
  position: relative;
  cursor: pointer;
}

/* .label:hover {
  border: solid 1px #000;
} */

.label::before {
  /* content: url(assets/add_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '+';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.contentBox.active .label::before {
  /* content: url(assets/remove_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '–';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.contentBox.active .content {
  height: fit-content;
  padding-top: 12px;
}

pre {
  font-size: small;
}

p {
  color: #999;
  font-size: small;
  line-height: 1.5;
}

.title {
  max-width: 100%;
  color: #fff;
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: x-small;
  font-style: italic;
}

i {
  color: #999;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  filter: brightness(0.8);
  /* cursor: zoom-in; */
}

video {
  display: flex;
  justify-content: center;
}

.background-video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  user-select: none;
  pointer-events: none;
  filter: brightness(0.6);
}

.responsive-video {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #000;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.quote {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin: 36px 0 36px 0;
  text-align: center;
  font-size: small;
}

nav a:link {
  text-decoration: none;
  color: #999;
}

nav a:hover {
  color: #fff;
}

nav a:active {
  color: #fff;
}

nav a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: underline;
  /* text-underline-offset: 3px; */
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

a:visited {
  text-decoration: none;
}

@media only screen and (min-width: 796px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .logo {
    padding-left: 48px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    margin-top: 0px;
    padding: 0px 48px 0px 0px;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-block;
  }

  nav .mainMenu li {
    display: inline-block;
  }
  
  nav .mainMenu li a {
    line-height: 90px;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  main {
    margin: 112px 48px 0px;
  }

  .headline {
    top: 72px;
    width: calc(50% - 48px);
    z-index: 1;
    background-color: #000;
  }

  .row {
    margin: 0px 0 36px 0;
  }

  .column {
    top: 166px;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 12px;
    /* position: -webkit-sticky;
    /* Safari */
    /* position: sticky; */
    z-index: 0;
  }

  .right {
    padding-left: 12px;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 12px;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .gallery-row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 1280px) {
  nav .logo {
    padding-left: 250px;
  }

  nav .mainMenu {
    margin-top: 0px;
    padding-right: 250px;
  }

  nav .mainMenu li {
    padding-left: 36px;
  }

  .spaceholder {
    height: 330px;
  }

  main {
    margin: 112px 250px 0px;
  }

  .headline {
    width: calc(50% - 250px);
  }
}

@media only screen and (min-width: 1920px) {
  nav .logo {
    padding-left: 400px;
  }

  nav .mainMenu {
    padding-right: 400px;
  }

  nav .mainMenu li {
    padding-left: 48px;
  }

  main {
    margin: 112px 400px 0px;
  }

  .headline {
    width: calc(50% - 400px);
  }

  .about-column-left {
    width: 70%;
  }

  .about-column-right {
    width: 30%;
  }
}