@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGrotesk-Roman.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGrotesk-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGrotesk-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGrotesk-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "OverusedGrotesk", sans-serif;
  font-size: 16px;
}

h1 {
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  /* text-transform: uppercase;
  letter-spacing: 1px; */
}

h2 {
  color: #fff;
  font-size: 24px;
  line-height: 1.25;
  font-weight: normal;
  max-width: 800px;
}

h2 a {
  font-size: inherit;
}

h2 i {
  font-size: inherit;
  color: inherit;
}

h3 {
  color: #fff;
  font-weight: normal;
  padding-bottom: 16px;
}

h4 {
  font-weight: normal;
}

p {
  color: #999;
  line-height: 1.5;
}

.title {
  font-size: 12px;
  font-style: italic;
  max-width: 100%;
  color: #fff;
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

i {
  color: #999;
}

a:link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #fff;
  transition: .5s ease;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

a:visited {
  color: #fff;
}

a:visited:hover {
  color: #999;
}

body {
  background: #000;
}

nav {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 76px;
  top: 0;
  z-index: 2;
  transition: .5s ease;
}

nav img {
  opacity: 1;
  transition: .5s ease;
  cursor: pointer;
}

nav img:hover {
  opacity: 0.5;
}

nav .logo {
  margin-top: 18px;
  padding-left: 18px;
  width: fit-content;
}

nav .logo img {
  height: 40px;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 26px;
  right: 18px;
}

nav .openMenu img {
  height: 26px;
  filter: invert();
}

nav .mainMenu {
  height: 100vh;
  margin-top: 18px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 26px;
  right: 18px;
}

nav .mainMenu .closeMenu img {
  height: 26px;
  filter: invert();
}

nav .mainMenu li {
  padding-left: 18px;
}

nav .mainMenu li a {
  font-size: 48px;
  line-height: 96px;
}

nav a:link {
  text-decoration: none;
  color: #999;
  transition: .5s ease;
}

nav a:hover {
  color: #fff;
}

nav a:visited {
  color: #999;
}

nav a:visited:hover {
  color: #fff;
}

main {
  margin: 0px 18px 0px;
  padding-top: 76px;
  display: block;
}

.headline {
  padding: 36px 0 36px;
  line-height: 1.5;
}

.row {
  margin-bottom: 32px;
}

.column {
  width: 100%;
  padding-bottom: 18px;
}

.grid a {
  text-decoration: none;
}

.line {
  background-color: #555;
  height: 0.5px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6px;
}

.project {
  aspect-ratio: 1;
  padding: 6px;
  position: relative;
  border: solid 2px #555;
  transition: .5s ease;
  overflow: hidden;
}

img.gallery {
  filter: grayscale(1);
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* .text-box {
  transition: .5s ease;
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
} */

.project-title {
  font-size: 30px;
  /* font-weight: bold; */
  /* text-transform: uppercase;
  letter-spacing: 1px; */
  color: #555;
  line-height: 1;
  transition: .5s ease;  
}

.project-subtitle {
  margin-top: 16px;
  font-size: 14px;
  /* font-weight: bold; */
  color: #555;
  /* font-size: 14px; */
  transition: .5s ease;
}

.project:hover {
  border: solid 2px #fff;
}

.project:hover .gallery {
  filter: grayscale(0);
  cursor: pointer;
}

.project:hover .project-title {
  color: #fff;
}

.project:hover .project-subtitle {
  color: #999;
}

.accordion {
  box-shadow: 0px 1px 0px #c8c8c8;
}

.contentBox {
  position: relative;
}

.label {
  font-weight: bold;
  /* font-size: x-large; */
  padding: 12px 0px 12px 0px;
  position: relative;
  cursor: pointer;
}

/* .label:hover {
  border: solid 1px #000;
} */

.label::before {
  /* content: url(assets/add_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '+';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.contentBox.active .label::before {
  /* content: url(assets/remove_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '–';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.contentBox.active .content {
  height: fit-content;
  padding-top: 12px;
}

.thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
}

.thumbnail:hover {
  filter: brightness(0.5);
  cursor: zoom-in;
}

/* Modal (hidden by default) */
.previewModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

#previewImage {
  object-fit: contain;
  width: 100%;
}

#previewImage:hover {
  cursor: default;
  filter: none;
}

#closePreview {
  position: absolute;
  top: 26px;
  right: 18px;
}

#closePreview img {
  height: 26px;
  cursor: pointer;
  filter: invert();
}

#closePreview:hover {
  opacity: 50%;
}

/* Image Preview Animation */
#previewImage {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: .5s;
  animation-name: zoom;
  animation-duration: .5s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.5)
  }

  to {
    transform: scale(1)
  }
}

video {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 48px;
  color: #999;
  border: solid 2px #999;
  border-radius: 60px;
  width: fit-content;
  margin-top: 30px;
  padding: 3px 24px;
  transition-duration: 0.5s;
}

.button:hover {
  border: solid 2px #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.background-video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  user-select: none;
  pointer-events: none;
  filter: brightness(0.6);
}

.responsive-video {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  background-color: #000;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin: 36px 0 36px 0;
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 796px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .logo {
    padding-left: 48px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    margin-top: 0px;
    padding-right: 48px;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-block;
  }

  nav .mainMenu li {
    display: inline-block;
    padding-left: 48px;
  }

  nav .mainMenu li a {
    font-size: 16px;
    line-height: 76px;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  .button {
    font-size: 16px;
    color: #999;
    border: solid 2px #999;
    padding: 3px 12px;
  }

  main {
    margin: 0px 48px 0px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .line {
    height: 1px;
  }

  .headline {
    position: fixed;
    width: calc(50% - 48px);
    top: 76px;
    z-index: 1;
    background-color: #000;
  }

  .row {
    padding-top: 164px;
  }

  .column {
    top: 240px;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 0;
  }

  .right {
    padding-left: 12px;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 12px;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 800px;
    /* text-align: justify;
    text-justify: inter-word; */
  }

  #previewImage {
    width: auto;
    max-width: 1920px;
    height: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  nav .logo {
    padding-left: 300px;
  }

  nav .mainMenu {
    margin-top: 0px;
    padding-right: 300px;
  }

  .spaceholder {
    height: 330px;
  }

  main {
    margin: 0px 300px 0px;
  }

  .headline {
    width: calc(50% - 300px);
  }

  .row {
    
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1920px) {
  nav .logo {
    padding-left: 400px;
  }

  nav .mainMenu {
    padding-right: 400px;
  }

  main {
    margin: 0px 400px 0px;
  }

  .headline {
    width: calc(50% - 400px);
  }
}

@media only screen and (min-width: 2560px) {
  * {
    font-size: 18px;
  }

  .caption {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }

  nav .logo {
    padding-left: 600px;
  }

  nav .mainMenu {
    padding-right: 600px;
  }

  nav .mainMenu li {
    padding-left: 72px;
  }

  nav .mainMenu li a {
    font-size: 18px;
  }

  main {
    margin: 0 600px;
  }

  .headline {
    width: calc(50% - 600px);
  }
}

@media only screen and (min-width: 3840px) {
  nav .logo {
    padding-left: 800px;
  }

  nav .mainMenu {
    padding-right: 800px;
  }

  main {
    margin: 0 800px;
  }

  .headline {
    width: calc(50% - 800px);
  }
}